/* 1) Base */
body { background-color: #ababab; background: url(background.png); color: #3b3b3b; backdrop-filter: blur(4px); }

/* Theme switcher button */
#change-theme { color: #3b3b3b; }

/* 4) Container */
.container { background-color: #cececeb5; color: #3b3b3b; }

/* 7) RSS badge */
.rss { background-color: #f6f4f2; color: #3b3b3b; }
.rss:hover { background-color: #c7d3dc; }

/* 8) Post cards */
.post { background-color: #c9c9c9; color: #3b3b3b; }
.post:hover { background-color: #5580ab20; }

/* per-post date */
#date { color: #8a8a8a; }

/* 9) Code blocks */
code { background-color: #9a9a9a; color: #60855f; }

/* 11) Avatar image border */
#avatar { border: 3px solid #adadad; }

/* 12) Tabs */
.tab { background-color: #a7a7a7; border-bottom: 2px solid #a8a7a5; }
.tab button { color: #3b3b3b; }
.tab button:hover { background-color: #dedcda; }
.tab button.active { background-color: #c5c5c5; color: #000; }
.tabcontent { color: #3b3b3b; background-color: #c9c9c9; }

/* 13) Grid gallery */
.grid-container { background-color: #acacac60; }
.grid-item img { outline: 0 solid #aaa7a5; }
.grid-item img:hover { outline: 4px solid #868686; }
.grid-item p { color: #3b3b3b; }
#subp { color: #7a7a7a; }

/* 14) Audio player */
.audio-player button { color: #3b3b3b; }
.audio-player input[type="range"] { background: #cccac8; }
.audio-player input[type="range"]::-webkit-slider-thumb { background: #3b3b3b; }
.audio-player span { color: #3b3b3b; }

/* 16) Contact form */
.contact-form { color: #3b3b3b; }
.contact-form input,
.contact-form textarea {
  background-color: #c8c8c8;
  color: #3b3b3b;
  border: 2px solid #c4c2c0;
}

/* 18) Microblog post */
.microblog-post { background-color: #c9c9c9; color: #3b3b3b; }

/* guestbook */
.guestbook { color: #3b3b3b; border: 2px solid #adadad; }
.guestbook-messages { background: #c4c4c4; }
.guestbook-message { background-color: transparent; color: #3b3b3b; }
.guestbook-messages { scrollbar-color:  #c7c7c7 #c7c7c7 }
.guestbook-messages::-webkit-scrollbar-thumb { background: #c7c7c7 }
.guestbook-messages::-webkit-scrollbar-thumb:hover { background: #c7c7c7 }
.start-message { color: #929292; }
.system-message { color: #929292; }
#guestbook-help { color: #929292; }
.gb-trash { color: #929292; }
#gb-time { color: #929292; }
#guestbook-type { background: #b6b6b6; color: inherit; }
.guestbook-controls { border-top: 2px solid #adadad; }

.gb-name-1 { color: #7e3f3f; }
.gb-name-2 { color: #866244; }
.gb-name-3 { color: #868544; }
.gb-name-4 { color: #487c3e; }
.gb-name-5 { color: #448581; }
.gb-name-6 { color: #496092; }
.gb-name-7 { color: #674c94; }
.gb-name-8 { color: #8a457b; }

.gb-name-admin { color: #c7c7c7; animation: none; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
.guestbook-me { color: #929292; }
.guestbook-cmd { color: #929292; }
.gb-sound-toggle { color: #929292; }