## -- Universal file extensions -- ##
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.mp3
*.wav
*.osk
*.zip
*.env

## -- Specific directories -- ##
!/resources/**/*
!/themes/**/*
/microblog/posts/**/*
/projects/frdgCanvas/download/**/*