@font-face { font-family: "MainRegular";     src: url(/projects/fridgePack/font-regular.otf);    font-weight: normal; }
@font-face { font-family: "MainBold";        src: url(/projects/fridgePack/font-bold.otf);       font-weight: normal; }
@font-face { font-family: "MainItalic";      src: url(/projects/fridgePack/font-italic.otf);     font-weight: normal; }
@font-face { font-family: "MainBoldItalic";  src: url(/projects/fridgePack/font-italic.otf);     font-weight: normal; }

body {
    background-image: url(/projects/fridgePack/background-alt.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    border: 2px solid #000000;
    border-radius: 4px;
}